
/* Container for each result */
.r {
  margin:20px 10px;
  font-size:13px;
  color:#545454;
}

/* Page titles */
.r h3 {
  font-size:18px;
  font-weight:normal;
  margin:0;
}

.r h3 a {
  color: #1a0dab;
}

.r h3 a:visited {
  color: #609;
}

/* Page URLs */
.r .u a {
  color:#006621;
}

.r .u a:hover {
	text-decoration:none;
}

/* Ellipsis for the titles and links */
.r h3, .r .u {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Message when there are zero results */
.z {
  padding:10px;
}

#resultcout {
  color: #999;
}

/* Pagination */
#pager {
  padding:20px 20px 20px 116px;
}
#pager a {
  padding-right:20px;
}

/* Speed debug infos */
#dbg {
  float:right;
  text-align:right;
  padding:10px;
  font-size:12px;
  color:#999
}

#dbg span {
  min-width:110px;
  display:inline-block;
}

body.full #dbg, body.full #pager {
  display:none;
}
